@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
  
}
.swiper-title{
  padding-left: 40px;
  padding-right: 40px;
  width: 35% !important;
  margin-top: auto;
  margin-bottom: auto;
}

.swiper-image{
  width: 18% !important;

}

@media (max-width: 1024px) {
  .swiper-title{
    display: none !important;
  }

  .swiper-image{
    width: 28% !important;
  
  }
  .mySwiper{
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .swiper-title{
    display: none !important;
  }

  .swiper-image{
    width: 33% !important;
  
  }
  .mySwiper{
    display: flex;
    justify-content: center;
  }
}



@media(max-width: 640px) {
  .swiper-title{
    display: none !important;
  }

  .swiper-image{
    width: 70% !important;
  
  }
  .mySwiper{
    width: 100%;
    padding-left: 5px !important;
    padding-right: 5px !important;

    display: flex;
    justify-content: center;
  }
}

