@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
  
}

/* Foto */
.swiper-title{
  padding-left: 40px;
  padding-right: 40px;
  width: 35% !important;
  margin-top: auto;
  margin-bottom: auto;
}

.swiper-image{
  width: 18% !important;

}
@media (max-width: 1080px) {


  .swiper-image{
    width: 25% !important;
  
  }
  .mySwiper{
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 1023px) {
  .swiper-title{
    display: none !important;
  }

  .swiper-image{
    width: 28% !important;
  
  }
  .mySwiper{
    display: flex;
    justify-content: center;
  }
}



@media (max-width: 768px) {
  .swiper-title{
    display: none !important;
  }

  .swiper-image{
    width: 33% !important;
  
  }
  .mySwiper{
    display: flex;
    justify-content: center;
  }
}



@media(max-width: 640px) {
  .swiper-title{
    display: none !important;
  }

  .swiper-image{
    width: 70% !important;
  
  }
  .mySwiper{
    width: 100%;
    padding-left: 5px !important;
    padding-right: 5px !important;

    display: flex;
    justify-content: center;
  }
}

/* Foto */

/* Video */
/* @media(max-width: 1080px) {
  .swiper-video{
    width: 50% !important;
  
  }
  
} */

/* Video */
.scrollbar::-webkit-scrollbar {
  width: 15px;
  height: 20px;
}

.scrollbar::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #f7f4ed;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #142b51;
  border-radius: 100vh;
  border: 3px solid #f6f7ed;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #1d4481;
}

::-webkit-scrollbar {
  width: 15px;
  height: 20px;
}
::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #f7f4ed;
}
::-webkit-scrollbar-thumb {
  background: #142b51;
  border-radius: 100vh;
  border: 3px solid #f6f7ed;
}:-webkit-scrollbar-thumb:hover {
  background: #1d4481;
}
